/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

#message {
  width: 200px; }

.conteudo.contato {
  min-height: 350px; }

.bwWrapper {
  position: relative;
  display: block; }

body {
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  overflow-x: hidden; }
  body p {
    font-size: 1em;
    margin-bottom: 0;
    color: #4d4d4d; }
  body h1, body .clearfix {
    line-height: 1em; }

.conteudo {
  min-height: 560px; }

.bx-next, .bx-prev {
  display: block;
  width: 54px;
  height: 45px; }

.projetos-lista-sliderrr div[role='projeto-slide'] {
  height: 370px !important; }

* {
  margin: 0; }

html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px; }

footer, .push {
  height: 70px; }

.left {
  float: left; }

.right {
  float: right; }

.page-imagem {
  float: right;
  margin-top: 50px; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

.interna {
  width: 960px;
  margin: 0 auto; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.projetos .projeto-box {
  display: block; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*****Fontes*****/
/*****Cores*****/
header {
  width: 100%;
  height: 150px; }
  header .interna {
    width: 1100px; }
  header .marca-wrapper {
    width: 360px;
    height: 95px;
    float: left;
    background: url(../img/marca-lidiane.png);
    margin-top: 54px; }
    header .marca-wrapper span {
      display: block;
      text-indent: -9999px; }
  header .marca {
    width: 260px;
    height: 80px;
    background: url(../img/marca.png);
    margin: 20px 0 0 2px; }
  header nav {
    width: 405px;
    float: right; }
    header nav .texto {
      margin-top: -80px;
      opacity: 0;
      text-transform: lowercase;
      font-size: 18px;
      -webkit-transition-property: opacity;
      -webkit-transition-duration: 0.3s, 0.3s;
      -webkit-transition-timing-function: linear, ease-in;
      -moz-transition-property: opacity;
      -moz-transition-duration: 0.3s, 0.3s;
      -moz-transition-timing-function: linear, ease-in;
      transition-property: opacity;
      transition-duration: 0.3s, 0.3s;
      transition-timing-function: linear, ease-in; }
    header nav > ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      header nav > ul > li {
        float: left;
        margin-left: 1px;
        width: 80px;
        height: 80px; }
        header nav > ul > li.dropdown-container .dropdown {
          display: block;
          background-color: #484742;
          position: relative;
          margin-top: -73px;
          margin-left: -30px;
          font-size: 13px;
          line-height: 1.7em;
          margin: 0;
          padding: 0;
          width: 69px;
          height: 0px;
          margin-left: 0px;
          padding-left: 11px;
          -webkit-transition-property: height;
          -webkit-transition-duration: 0.6s, 0.6s;
          -webkit-transition-timing-function: linear, ease-in;
          -moz-transition-property: height;
          -moz-transition-duration: 0.6s, 0.6s;
          -moz-transition-timing-function: linear, ease-in;
          transition-property: height;
          transition-duration: 0.6s, 0.6s;
          transition-timing-function: linear, ease-in; }
          header nav > ul > li.dropdown-container .dropdown li a {
            color: #fff;
            text-decoration: none; }
            header nav > ul > li.dropdown-container .dropdown li a.active, header nav > ul > li.dropdown-container .dropdown li a:hover {
              color: #92A391; }
        header nav > ul > li.dropdown-container.active, header nav > ul > li.dropdown-container:hover {
          height: 150px; }
          header nav > ul > li.dropdown-container.active .projetos .texto, header nav > ul > li.dropdown-container:hover .projetos .texto {
            opacity: 1;
            margin-top: -80px;
            background-color: #484742;
            text-transform: lowercase;
            font-size: 18px; }
          header nav > ul > li.dropdown-container.active .dropdown, header nav > ul > li.dropdown-container:hover .dropdown {
            display: block;
            height: 70px; }
        header nav > ul > li > a {
          display: block;
          width: 80px;
          height: 80px;
          background-color: #92A391;
          color: #FFF;
          text-decoration: none; }
          header nav > ul > li > a span {
            color: #FFF;
            display: block;
            width: 80px;
            height: 80px;
            text-align: center;
            line-height: 80px; }
          header nav > ul > li > a:hover .texto, header nav > ul > li > a.active .texto {
            opacity: 1;
            display: block;
            margin-top: -80px;
            background-color: #484742;
            text-transform: lowercase;
            font-size: 18px; }
          header nav > ul > li > a.home span.imagem {
            background-image: url(../img/icone-home.png);
            background-position: center;
            background-repeat: no-repeat; }
          header nav > ul > li > a.perfil span.imagem {
            background-image: url(../img/icone-perfil.png);
            background-position: center;
            background-repeat: no-repeat; }
          header nav > ul > li > a.projetos span.imagem {
            background-image: url(../img/icone-projetos.png);
            background-position: center;
            background-repeat: no-repeat; }
          header nav > ul > li > a.clipping span.imagem {
            background-image: url(../img/icone-clipping.png);
            background-position: center;
            background-repeat: no-repeat; }
          header nav > ul > li > a.contato span.imagem {
            background-image: url(../img/icone-contato.png);
            background-position: center;
            background-repeat: no-repeat; }
  header .social {
    float: right;
    margin: 66px 0 0;
    padding: 0; }
    header .social li {
      list-style-type: none;
      float: left;
      margin-left: 4px; }
      header .social li a {
        display: block;
        width: 20px;
        height: 20px;
        background: url(../img/facebook.png);
        margin-bottom: 2px; }

.barra-inferior {
  width: 100%;
  height: 8px;
  background-color: #7b222c;
  margin-top: -8px;
  position: relative;
  z-index: 300; }

/*******HOME*******/
.conteudo-home .slide-wrapper {
  width: 920px;
  margin-left: 20px;
  margin-top: -12px; }
  .conteudo-home .slide-wrapper .slides > div {
    margin-left: 1px; }
  .conteudo-home .slide-wrapper .bx-controls {
    text-align: center; }
  .conteudo-home .slide-wrapper .bx-pager {
    display: inline-block;
    margin-top: 10px; }
    .conteudo-home .slide-wrapper .bx-pager .bx-pager-item {
      width: 10px;
      height: 10px;
      float: left;
      margin-right: 1px; }
      .conteudo-home .slide-wrapper .bx-pager .bx-pager-item .bx-pager-link {
        display: block;
        width: 10px;
        height: 10px;
        background-color: #92A391;
        text-indent: -9999px; }
        .conteudo-home .slide-wrapper .bx-pager .bx-pager-item .bx-pager-link.active, .conteudo-home .slide-wrapper .bx-pager .bx-pager-item .bx-pager-link:hover {
          background-color: #484742; }

#main {
  width: 100%; }

/*******PERFIL******/
#main.pagina {
  padding-top: 45px; }

.separador-pagina {
  width: 100%;
  height: 1px;
  background: #BED1BD; }

.conteudo-perfil .perfil-texto {
  width: 620px;
  float: left; }
  .conteudo-perfil .perfil-texto h1 {
    font-size: 30px;
    font-weight: normal;
    color: #92A391; }
.conteudo-perfil .perfil-imagem {
  float: right;
  margin-right: 15px; }
.conteudo-perfil .colaboradores h2 {
  display: block;
  width: 255px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #92A391;
  font-weight: normal;
  font-size: 24px;
  background: #FFF;
  margin-top: -18px;
  margin-left: -64px;
  margin-bottom: 70px; }
.conteudo-perfil .colaboradores .colaborador .colaborador-imagem, .conteudo-perfil .colaboradores .colaborador .colaborador-texto {
  float: left; }
.conteudo-perfil .colaboradores .colaborador .colaborador-imagem {
  margin-right: 36px; }
.conteudo-perfil .colaboradores .colaborador .colaborador-texto h3 {
  font-weight: normal;
  font-size: 29px;
  line-height: 1em;
  margin-top: 0;
  color: #92A391;
  margin-bottom: 23px; }
.conteudo-perfil .colaboradores .colaborador .colaborador-texto p {
  width: 200px;
  line-height: 1.9em; }

.conteudo-projetos .projetos-lista-slider-wrapper {
  background-color: #92A391;
  width: 925px;
  margin-left: 20px;
  margin-top: -12px; }
  .conteudo-projetos .projetos-lista-slider-wrapper .projetos-lista-slider div[role='projeto-slide'] {
    margin-left: 1px; }
  .conteudo-projetos .projetos-lista-slider-wrapper div[role='projeto-slide'] {
    width: 925px;
    height: 370px;
    background: #92A391; }
    .conteudo-projetos .projetos-lista-slider-wrapper div[role='projeto-slide'] .projeto-thumb {
      display: block;
      float: left;
      width: 185px;
      height: 185px;
      text-decoration: none;
      text-align: center;
      color: #FFF;
      text-shadow: 1px 1px 0 #000;
      font-size: 15px; }
      .conteudo-projetos .projetos-lista-slider-wrapper div[role='projeto-slide'] .projeto-thumb.projeto-thumb-bottom, .conteudo-projetos .projetos-lista-slider-wrapper div[role='projeto-slide'] .projeto-thumb:nth-child(even) {
        margin-top: 185px; }
      .conteudo-projetos .projetos-lista-slider-wrapper div[role='projeto-slide'] .projeto-thumb.quarto-bebe-real-parque {
        margin-left: -370px;
        margin-top: 185px; }
      .conteudo-projetos .projetos-lista-slider-wrapper div[role='projeto-slide'] .projeto-thumb.quarto-bebe-paineiras-morumbi {
        margin-left: 0px;
        margin-top: 185px;
        line-height: 23px; }
        .conteudo-projetos .projetos-lista-slider-wrapper div[role='projeto-slide'] .projeto-thumb.quarto-bebe-paineiras-morumbi .projeto-titulo {
          display: table-cell;
          margin-top: 70px;
          height: 185px;
          vertical-align: middle; }
      .conteudo-projetos .projetos-lista-slider-wrapper div[role='projeto-slide'] .projeto-thumb .projeto-titulo {
        width: 185px;
        display: table-cell;
        height: 185px;
        vertical-align: middle;
        text-align: center; }
      .conteudo-projetos .projetos-lista-slider-wrapper div[role='projeto-slide'] .projeto-thumb.mesas {
        margin-left: 0;
        margin-top: 185px; }
      .conteudo-projetos .projetos-lista-slider-wrapper div[role='projeto-slide'] .projeto-thumb.casa {
        margin-left: 0; }
      .conteudo-projetos .projetos-lista-slider-wrapper div[role='projeto-slide'] .projeto-thumb:first-child {
        margin-left: 0; }
      .conteudo-projetos .projetos-lista-slider-wrapper div[role='projeto-slide'] .projeto-thumb .projeto-thumb-hover {
        position: relative;
        display: none;
        width: 185px;
        height: 185px;
        margin-top: -185px;
        background: rgba(51, 51, 51, 0.8); }
      .conteudo-projetos .projetos-lista-slider-wrapper div[role='projeto-slide'] .projeto-thumb:hover .projeto-thumb-hover {
        display: block; }
  .conteudo-projetos .projetos-lista-slider-wrapper .bx-controls {
    text-align: center; }
  .conteudo-projetos .projetos-lista-slider-wrapper .bx-controls-direction {
    height: 30px;
    margin-top: -220px;
    position: relative;
    z-index: 1000;
    width: 1035px;
    margin-left: -55px; }
    .conteudo-projetos .projetos-lista-slider-wrapper .bx-controls-direction .bx-prev, .conteudo-projetos .projetos-lista-slider-wrapper .bx-controls-direction .bx-next {
      width: 15px;
      height: 30px;
      display: block;
      float: left;
      background-image: url(../img/seta-esquerda.png);
      text-indent: -9999px; }
    .conteudo-projetos .projetos-lista-slider-wrapper .bx-controls-direction .bx-next {
      float: right;
      background-image: url(../img/seta-direita.png); }
  .conteudo-projetos .projetos-lista-slider-wrapper .bx-pager {
    display: inline-block;
    margin-top: 10px; }
    .conteudo-projetos .projetos-lista-slider-wrapper .bx-pager .bx-pager-item {
      width: 10px;
      height: 10px;
      float: left;
      margin-right: 1px; }
      .conteudo-projetos .projetos-lista-slider-wrapper .bx-pager .bx-pager-item .bx-pager-link {
        display: block;
        width: 10px;
        height: 10px;
        background-color: #92A391;
        text-indent: -9999px; }
        .conteudo-projetos .projetos-lista-slider-wrapper .bx-pager .bx-pager-item .bx-pager-link.active, .conteudo-projetos .projetos-lista-slider-wrapper .bx-pager .bx-pager-item .bx-pager-link:hover {
          background-color: #484742; }
.conteudo-projetos.projetos-detalhe .ui-state-default.ui-state-active .BWFilter, .conteudo-projetos.projetos-detalhe .ui-state-default:hover .BWFilter {
  display: none !important; }
.conteudo-projetos.projetos-detalhe .ui-state-default .BWFilter {
  display: block !important; }
.conteudo-projetos.projetos-detalhe h1 {
  font-weight: normal;
  color: #92A391;
  margin-left: 18px; }
.conteudo-projetos.projetos-detalhe #down {
  width: 160px;
  height: 25px;
  float: right;
  display: none;
  background-image: url(../img/seta-baixo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #92A391;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.3s, 0.3s;
  -webkit-transition-timing-function: linear, ease-in;
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.3s, 0.3s;
  -moz-transition-timing-function: linear, ease-in;
  transition-property: background-color;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: linear, ease-in; }
  .conteudo-projetos.projetos-detalhe #down:hover {
    background-color: #484742; }
.conteudo-projetos.projetos-detalhe .projetos-detalhe-ampliada {
  width: 740px;
  margin-bottom: 20px;
  float: left;
  margin-left: 20px; }
.conteudo-projetos.projetos-detalhe .projetos-detalhe-miniaturas-container {
  width: 160px;
  height: 392px;
  float: right;
  overflow: hidden; }
.conteudo-projetos.projetos-detalhe .projetos-detalhe-miniaturas {
  margin: 0;
  margin-right: 20px;
  padding: 0;
  list-style-type: none; }
  .conteudo-projetos.projetos-detalhe .projetos-detalhe-miniaturas li {
    margin-bottom: 13px; }
    .conteudo-projetos.projetos-detalhe .projetos-detalhe-miniaturas li a {
      display: block;
      width: 160px;
      height: 85px;
      outline: none; }
.conteudo-projetos.projetos-detalhe .projetos-detalhe-voltar {
  display: block;
  width: 68px;
  height: 23px;
  background: #92A391;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  line-height: 21px;
  margin-left: 20px;
  float: left; }
.conteudo-projetos.projetos-detalhe .controle-social {
  display: block;
  width: 719px;
  float: left; }
.conteudo-projetos.projetos-detalhe .projetos-detalhe-social {
  float: right; }
  .conteudo-projetos.projetos-detalhe .projetos-detalhe-social .twitter-share-button {
    width: 100px !important; }
  .conteudo-projetos.projetos-detalhe .projetos-detalhe-social #___plusone_0 {
    width: 75px !important; }
  .conteudo-projetos.projetos-detalhe .projetos-detalhe-social .IN-widget {
    margin-right: 15px; }
  .conteudo-projetos.projetos-detalhe .projetos-detalhe-social .facebook-share {
    margin-bottom: -1px; }
.conteudo-projetos.projetos-detalhe .separador-pagina {
  margin-top: 110px; }
.conteudo-projetos.projetos-detalhe .align-teste {
  width: 920px;
  margin: 0 auto;
  height: 30px;
  background: #333;
  margin-top: 20px; }
.conteudo-projetos.projetos-detalhe h2 {
  display: block;
  width: 307px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #92A391;
  font-weight: normal;
  font-size: 24px;
  background: #FFF;
  margin-top: -18px;
  margin-left: -44px;
  margin-bottom: 35px; }
.conteudo-projetos.projetos-detalhe .outros-projetos {
  width: 920px;
  margin: 0 auto; }
  .conteudo-projetos.projetos-detalhe .outros-projetos .outros-projetos-wrapper {
    width: 917px;
    height: 262px; }
    .conteudo-projetos.projetos-detalhe .outros-projetos .outros-projetos-wrapper .outro-projeto {
      display: block;
      width: 130px;
      height: 130px;
      background-color: #92A391;
      float: left;
      margin: 0 1px 1px 0; }
      .conteudo-projetos.projetos-detalhe .outros-projetos .outros-projetos-wrapper .outro-projeto .hover {
        position: relative;
        display: none;
        width: 130px;
        height: 130px;
        margin-top: -130px;
        background: rgba(51, 51, 51, 0.8); }
      .conteudo-projetos.projetos-detalhe .outros-projetos .outros-projetos-wrapper .outro-projeto:hover .hover {
        display: block; }

.fechar-clipping {
  display: block;
  float: right;
  width: 10px;
  height: 10px;
  background-image: url(../img/botao-fechar.png);
  text-indent: -9999px;
  margin-right: 50px;
  margin-top: 0px;
  margin-bottom: 9px; }

/******CLIPPING*****/
.conteudo-clipping .clipping {
  width: 215px;
  height: 280px;
  display: block;
  float: left;
  margin-right: 20px;
  margin-bottom: 30px; }
.conteudo-clipping .clipping-wrapper {
  width: 940px;
  margin: 0 auto; }
  .conteudo-clipping .clipping-wrapper .clipping-slider-wrapper {
    display: block;
    position: relative;
    width: 1000px;
    height: 644px;
    margin: 0 auto; }
    .conteudo-clipping .clipping-wrapper .clipping-slider-wrapper > .clipping-slide {
      width: 1100px; }
    .conteudo-clipping .clipping-wrapper .clipping-slider-wrapper .bx-controls {
      margin-top: -330px;
      position: relative; }
      .conteudo-clipping .clipping-wrapper .clipping-slider-wrapper .bx-controls .bx-next, .conteudo-clipping .clipping-wrapper .clipping-slider-wrapper .bx-controls .bx-prev {
        display: block;
        float: left;
        width: 30px;
        height: 30px;
        background: url(../img/seta-esquerda.jpg);
        text-indent: -9999px;
        margin-left: -50px; }
      .conteudo-clipping .clipping-wrapper .clipping-slider-wrapper .bx-controls .bx-next {
        float: right;
        margin-left: 0;
        margin-right: -50px;
        background: url(../img/seta-direita.jpg); }
    .conteudo-clipping .clipping-wrapper .clipping-slider-wrapper .image-left {
      float: left;
      margin-right: 14px; }
    .conteudo-clipping .clipping-wrapper .clipping-slider-wrapper .image-right {
      float: right; }
    .conteudo-clipping .clipping-wrapper .clipping-slider-wrapper .clipping-slider {
      display: block;
      width: 1012px;
      height: 644px; }
      .conteudo-clipping .clipping-wrapper .clipping-slider-wrapper .clipping-slider > div {
        width: 1012px !important; }
        .conteudo-clipping .clipping-wrapper .clipping-slider-wrapper .clipping-slider > div:first-child {
          display: none; }
    .conteudo-clipping .clipping-wrapper .clipping-slider-wrapper .bx-viewport {
      height: 644px !important; }

.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  min-height: 1000px;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80); }

.white_content {
  display: none;
  position: absolute;
  top: 178px;
  left: 50%;
  margin-left: -550px;
  width: 1100px;
  height: 670px;
  background-color: transparent;
  z-index: 1002;
  overflow: hidden; }

/*Footer*/
footer {
  width: 100%;
  height: 70px;
  margin-top: 40px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  color: #484742;
  font-size: 13px;
  line-height: 43px; }
  footer a {
    color: #333;
    text-decoration: none; }
  footer img {
    margin-left: 4px;
    margin-top: -6px; }

.conteudo {
  width: 960px;
  margin: 0 auto;
  padding: 65px 0 30px; }

.marca-home-top {
  display: block;
  width: 630px;
  height: 490px;
  position: absolute;
  top: 0;
  left: -100px;
  background-image: url("../img/marca-home-top.png"); }

.marca-home-bottom {
  display: block;
  width: 530px;
  height: 565px;
  position: absolute;
  bottom: 0;
  right: 130px;
  background-image: url("../img/marca-home-bottom.png"); }

.in-slide-content {
  position: absolute;
  bottom: 94px;
  right: 197px;
  display: inline-block;
  height: 60px;
  background: rgba(60, 60, 60, 0.9);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
  z-index: 90000; }
  .in-slide-content a {
    z-index: 90000;
    text-decoration: none;
    color: #fff;
    position: relative; }

.slide_nav, header, footer {
  z-index: 11; }

header, footer {
  position: relative; }

.bxslider {
  padding: 0;
  margin: 0; }
  .bxslider li {
    text-align: right; }

.slide_nav {
  width: 115px;
  position: absolute;
  right: 194px;
  bottom: 156px; }

.slide-content {
  display: inline-block;
  height: 60px;
  padding: 0 20px;
  background: rgba(60, 60, 60, 0.9);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none; }

.control {
  width: 54px;
  height: 45px;
  background-color: rgba(60, 60, 60, 0.9);
  background-image: url(../img/anterior_home.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  float: left;
  margin-left: 2px; }
  .control:hover {
    background-color: rgba(27, 27, 27, 0.9); }

.control#slide_right {
  background-image: url(../img/proximo_home.png); }

.conteudo.pagina .pagina-imagem {
  float: left;
  width: 380px;
  height: 428px;
  margin-left: -20px; }
.conteudo.pagina .pagina-texto-wrapper {
  width: 530px;
  float: right; }
.conteudo.pagina .pagina-texto {
  width: 2600px;
  position: absolute;
  left: 50%;
  margin-left: -95px;
  padding: 30px 0 30px 30px;
  background: #FFF;
  text-align: left; }
  .conteudo.pagina .pagina-texto.inverse {
    position: relative;
    width: 2880px;
    left: auto;
    right: 2345px;
    margin-left: 0;
    height: 70px;
    padding: 30px 30px 30px 0; }
    .conteudo.pagina .pagina-texto.inverse p {
      font-size: 14px; }
  .conteudo.pagina .pagina-texto p {
    margin-top: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    width: 545px; }

.conteudo.projetos {
  width: 999px;
  margin-bottom: 80px;
  padding-left: 8px; }
  .conteudo.projetos .projetos-tipos ul {
    margin: 0;
    padding: 0;
    display: block;
    width: 238px;
    height: 38px;
    background-color: #802B35;
    border-left: solid 6px #6D242d;
    margin-top: -73px;
    float: right;
    margin-right: 103px;
    position: relative;
    z-index: 301; }
    .conteudo.projetos .projetos-tipos ul li {
      float: left;
      list-style-type: none;
      text-transform: lowercase;
      margin-left: 15px;
      line-height: 38px; }
      .conteudo.projetos .projetos-tipos ul li a {
        text-decoration: none;
        color: #4A0B14;
        font-weight: bold; }
        .conteudo.projetos .projetos-tipos ul li a:hover, .conteudo.projetos .projetos-tipos ul li a.active {
          color: #00DCFF; }
  .conteudo.projetos .projeto-box {
    text-align: center;
    width: 313px;
    height: 220px;
    display: block;
    float: left;
    margin: 0 3px 6px 3px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    text-decoration: none; }
    .conteudo.projetos .projeto-box .lupa {
      opacity: 0; }
    .conteudo.projetos .projeto-box .titulo {
      position: relative;
      display: none;
      width: 313px;
      height: 40px;
      line-height: 33px;
      text-transform: uppercase;
      margin-top: -40px;
      color: #fff;
      background: #7b222c; }
    .conteudo.projetos .projeto-box:hover img {
      opacity: 1; }
    .conteudo.projetos .projeto-box:hover .lupa {
      background-color: rgba(123, 34, 44, 0.7);
      opacity: 1; }
    .conteudo.projetos .projeto-box:hover .titulo {
      display: block; }
    .conteudo.projetos .projeto-box .lupa {
      width: 313px;
      height: 180px;
      background-color: #7b222c;
      display: block;
      background-image: url(../img/detalhe-hover.png);
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      margin-top: -220px; }

.conteudo.pagina.atuacao h2 {
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  color: #3c3c3c; }
.conteudo.pagina.atuacao .pagina-imagem {
  float: right;
  margin-top: -130px; }
.conteudo.pagina.atuacao .pagina-accordion {
  width: 550px;
  float: left; }
.conteudo.pagina.atuacao #accordion .header {
  width: 2880px;
  position: relative;
  left: auto;
  right: 2315px;
  height: 44px;
  display: block;
  background-color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  color: #3C3C3C;
  line-height: 44px;
  margin-top: 10px;
  outline: none; }
  .conteudo.pagina.atuacao #accordion .header h1 {
    width: 534px;
    float: right;
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    line-height: 40px;
    float: right;
    color: #8d2e36; }
  .conteudo.pagina.atuacao #accordion .header .item-icone {
    width: 13px;
    height: 13px;
    background: url(../img/atuacao_mais.png);
    float: right;
    margin: 13px;
    float: right; }
  .conteudo.pagina.atuacao #accordion .header.ui-state-active {
    background-color: #8d2e36; }
    .conteudo.pagina.atuacao #accordion .header.ui-state-active h1 {
      color: #fff; }
    .conteudo.pagina.atuacao #accordion .header.ui-state-active .item-icone {
      background-image: url(../img/atuacao_menos.png); }
.conteudo.pagina.atuacao #accordion .servicos-descricao-wrapper {
  float: right;
  width: 550px;
  color: #00dcff; }
.conteudo.pagina.atuacao #accordion .servicos-texto {
  width: 2880px;
  position: relative;
  left: auto;
  right: 2315px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #FFF; }
  .conteudo.pagina.atuacao #accordion .servicos-texto p {
    font-family: "Roboto Condensed", sans-serif;
    color: #00dcff; }
  .conteudo.pagina.atuacao #accordion .servicos-texto ul {
    margin: 0;
    padding: 0;
    margin-left: 16px;
    list-style-type: none; }
    .conteudo.pagina.atuacao #accordion .servicos-texto ul li {
      background: url(../img/atuacao_seta.png) no-repeat center left;
      padding-left: 21px;
      font-family: "Roboto Condensed", sans-serif;
      margin-bottom: 8px; }

#wrapper {
  background-color: #fff;
  width: 100%;
  height: 540px;
  overflow: hidden;
  position: relative;
  top: 50%;
  left: 0;
  margin-top: 24px;
  margin-bottom: 80px; }

#carousel img {
  display: block;
  float: left; }

#prev, #next {
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
  height: 540px;
  width: 50%;
  top: 0;
  position: absolute; }

#prev {
  left: -400px; }

#next {
  right: -400px; }

.conteudo.projetos.galeria {
  width: 100%; }
  .conteudo.projetos.galeria .interna {
    width: 950px; }
    .conteudo.projetos.galeria .interna .projetos-tipos ul {
      margin-right: 83px; }
  .conteudo.projetos.galeria .projetos-galeria-controles {
    display: block;
    width: 124px;
    height: 126px;
    position: absolute;
    right: 180px;
    bottom: 30px;
    background-color: rgba(123, 34, 44, 0.7);
    background-image: url(../img/projetos-galeria-controles.png);
    background-position: center;
    background-repeat: no-repeat; }
    .conteudo.projetos.galeria .projetos-galeria-controles .prev, .conteudo.projetos.galeria .projetos-galeria-controles .next {
      display: block;
      width: 50px;
      height: 38px;
      float: left;
      margin-top: 14px;
      margin-left: 16px;
      background: url(../img/projetos-next.png) no-repeat 0 center; }
      .conteudo.projetos.galeria .projetos-galeria-controles .prev:hover, .conteudo.projetos.galeria .projetos-galeria-controles .next:hover {
        background: url(../img/projetos-next-hover.png) no-repeat 0 center; }
    .conteudo.projetos.galeria .projetos-galeria-controles .prev {
      background: url(../img/projetos-prev.png) no-repeat 0 center; }
      .conteudo.projetos.galeria .projetos-galeria-controles .prev:hover {
        background: url(../img/projetos-prev-hover.png) no-repeat 0 center; }
    .conteudo.projetos.galeria .projetos-galeria-controles .next, .conteudo.projetos.galeria .projetos-galeria-controles .next:hover {
      float: right;
      background-position: right center;
      margin-right: 16px;
      margin-top: 19px; }
  .conteudo.projetos.galeria .projeto-meta {
    width: 690px;
    float: left; }
  .conteudo.projetos.galeria .projeto-nav {
    display: block;
    float: right;
    width: 125px;
    height: 106px; }
    .conteudo.projetos.galeria .projeto-nav a {
      display: block;
      width: 125px;
      height: 35px;
      margin-bottom: 1px;
      line-height: 33px;
      background-color: #E6E6E6;
      background-image: url(../img/seta-esquerda.png);
      background-position: center;
      background-repeat: no-repeat;
      text-align: center;
      text-decoration: none;
      color: #8d2e36;
      font-size: 12px; }
      .conteudo.projetos.galeria .projeto-nav a.projeto-proximo {
        background-image: url(../img/seta-direita.png);
        background-position: center;
        background-repeat: no-repeat; }
        .conteudo.projetos.galeria .projeto-nav a.projeto-proximo:hover {
          background-image: url(../img/seta-direita_hover.png); }
      .conteudo.projetos.galeria .projeto-nav a.projeto-grid {
        background-image: url(../img/todos-projetos.png);
        background-position: 12px center;
        background-repeat: no-repeat; }
        .conteudo.projetos.galeria .projeto-nav a.projeto-grid span {
          display: inline-block;
          margin-left: 27px; }
        .conteudo.projetos.galeria .projeto-nav a.projeto-grid:hover {
          background-image: url(../img/todos-projetos_hover.png); }
      .conteudo.projetos.galeria .projeto-nav a:hover {
        background-color: #812B36;
        background-image: url(../img/seta-esquerda_hover.png);
        color: #00dcff; }
  .conteudo.projetos.galeria .projeto-meta-nav-wrapper {
    width: 100%;
    background: #fff;
    padding-top: 30px;
    padding-bottom: 20px; }
    .conteudo.projetos.galeria .projeto-meta-nav-wrapper .projeto-meta-descricao {
      width: 690px; }
    .conteudo.projetos.galeria .projeto-meta-nav-wrapper h1 {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: normal;
      margin-top: 0;
      color: #8d2e36;
      font-size: 26px;
      text-transform: uppercase; }

.conteudo.midias {
  width: 980px;
  margin: 0 auto;
  padding: 30px 0 30px 20px; }
  .conteudo.midias.detalhe {
    width: 1008px;
    padding-left: 0;
    padding-bottom: 10px;
    margin-bottom: 30px; }
    .conteudo.midias.detalhe #navigation {
      width: 126px;
      height: 108px;
      padding: 10px;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      position: fixed;
      bottom: 75px;
      right: 40px;
      display: none; }
      .conteudo.midias.detalhe #navigation .scrollToTop {
        display: block;
        width: 126px;
        height: 38px;
        margin-bottom: 1px;
        line-height: 35px;
        background: #E6E6E6;
        text-decoration: none;
        color: #8d2e36;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 13px;
        font-weight: normal; }
        .conteudo.midias.detalhe #navigation .scrollToTop:hover {
          background-color: #812B36;
          color: #00dcff; }
      .conteudo.midias.detalhe #navigation .prev, .conteudo.midias.detalhe #navigation .next {
        text-align: center;
        line-height: 35px;
        color: #8d2e36;
        text-decoration: none;
        font-weight: normal;
        font-size: 13px; }
      .conteudo.midias.detalhe #navigation .prev {
        margin-top: 1px;
        margin-right: 1px;
        display: block;
        width: 126px;
        height: 38px;
        line-height: 38px;
        background-color: #E6E6E6;
        background-image: url(../img/seta-esquerda.png);
        background-position: center;
        background-repeat: no-repeat; }
        .conteudo.midias.detalhe #navigation .prev:hover {
          background-image: url(../img/seta-esquerda_hover.png);
          background-color: #812B36;
          color: #00dcff; }
      .conteudo.midias.detalhe #navigation .next {
        margin-top: 1px;
        display: block;
        width: 126px;
        height: 38px;
        float: left;
        background-color: #E6E6E6;
        background-image: url(../img/seta-direita.png);
        background-position: center;
        background-repeat: no-repeat; }
        .conteudo.midias.detalhe #navigation .next:hover {
          background-image: url(../img/seta-direita_hover.png);
          background-color: #812B36;
          color: #00dcff; }
    .conteudo.midias.detalhe #navigation a:hover {
      text-decoration: none; }
  .conteudo.midias ul.clipping {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    list-style-type: none; }
    .conteudo.midias ul.clipping li {
      float: left;
      margin: 10px; }
      .conteudo.midias ul.clipping li img {
        border: solid 1px #c8c8c8; }
  .conteudo.midias .midia-box {
    display: block;
    width: 180px;
    float: left;
    margin-right: 20px;
    margin-bottom: 28px;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    color: #3c3c3c; }
    .conteudo.midias .midia-box .titulo {
      display: block;
      width: 180px;
      height: 52px;
      background: #FFF;
      margin-top: 10px;
      font-size: 15px;
      text-align: center;
      line-height: 48px; }
    .conteudo.midias .midia-box .lupa {
      position: relative;
      width: 180px;
      height: 246px;
      display: block;
      background-image: url(../img/detalhe-hover.png);
      background-repeat: no-repeat;
      background-position: center;
      float: right;
      margin-top: -308px;
      opacity: 0; }
    .conteudo.midias .midia-box:hover .titulo {
      background: #92373F;
      color: #FFF; }
    .conteudo.midias .midia-box:hover .lupa {
      opacity: 1;
      background-color: rgba(146, 55, 63, 0.7); }

.conteudo.dicas {
  font-family: "Roboto Condensed", sans-serif; }
  .conteudo.dicas .image-wrapper, .conteudo.dicas .video-wrapper {
    width: 690px;
    text-align: center;
    margin-bottom: 20px; }
  .conteudo.dicas .sidebar {
    width: 200px;
    background: #FFF;
    float: left; }
    .conteudo.dicas .sidebar ul {
      display: block;
      width: 160px;
      margin: 0 auto;
      padding: 0;
      text-align: center; }
      .conteudo.dicas .sidebar ul li {
        list-style-type: none;
        border-bottom: solid 1px #3c3c3c; }
        .conteudo.dicas .sidebar ul li a {
          text-decoration: none;
          color: #3c3c3c;
          font-size: 18px;
          display: block;
          padding-top: 14px;
          padding-bottom: 12px; }
        .conteudo.dicas .sidebar ul li:nth-child(1) {
          padding-top: 0; }
        .conteudo.dicas .sidebar ul li:last-child {
          border-bottom: none;
          padding-bottom: 8px; }
        .conteudo.dicas .sidebar ul li.ui-state-active {
          font-weight: bold; }
  .conteudo.dicas .tabs-content {
    width: 690px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    background: #FFF; }
    .conteudo.dicas .tabs-content h1 {
      font-size: 18px; }
    .conteudo.dicas .tabs-content p {
      font-size: 18px; }

.frame-maps {
  float: left;
  border-bottom: solid 2px #D7D7D7;
  margin-left: -15px; }

.conteudo.contato {
  margin-bottom: 90px;
  font-family: "Roboto Condensed", sans-serif; }
  .conteudo.contato .interna {
    width: 720px; }
  .conteudo.contato .contatos ul.sociais {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 40px; }
  .conteudo.contato .contatos li {
    float: left; }
  .conteudo.contato .contatos a {
    display: block;
    width: 55px;
    height: 55px;
    margin-right: 23px;
    background-image: url(../img/icone-facebook.png); }
    .conteudo.contato .contatos a.linkedin {
      background-image: url(../img/icone-linkedin.png); }
    .conteudo.contato .contatos a.twitter {
      background-image: url(../img/icone-twitter.png); }
  .conteudo.contato .contatos .telefone {
    margin-top: 60px; }
  .conteudo.contato .contatos .telefone span {
    font-size: 30px;
    font-weight: normal;
    color: #92A391; }
  .conteudo.contato .contatos small {
    font-size: 20px; }
  .conteudo.contato .contatos .numero {
    margin-left: 5px;
    color: #333 !important; }
  .conteudo.contato h1 {
    font-weight: normal;
    color: #92A391; }
  .conteudo.contato p {
    font-family: "Roboto Condensed", sans-serif; }
  .conteudo.contato form {
    margin-bottom: 80px; }
    .conteudo.contato form .inputs input {
      width: 380px;
      padding-left: 2px;
      font-size: 14px;
      height: 24px;
      font-family: "Roboto Condensed", sans-serif;
      margin-bottom: 7px;
      border: none;
      border-bottom: solid 1px #C2C2C2;
      background-color: #FFF;
      color: #92A391;
      margin-bottom: 15px; }
    .conteudo.contato form .textarea textarea {
      margin-top: -15px;
      width: 380px;
      height: 134px;
      padding-left: 2px;
      font-size: 14px;
      background-color: #FFF;
      background-image: url(../img/linha-mensagem.png);
      background-attachment: local;
      color: #8d2e36;
      font-family: "Roboto Condensed", sans-serif;
      border: none;
      line-height: 40px; }
    .conteudo.contato form .textarea #contato-submit {
      float: right;
      display: block;
      width: 68px;
      height: 23px;
      background: #92A391;
      color: #FFF;
      text-decoration: none;
      text-align: center;
      line-height: 21px;
      margin-left: 20px;
      border: none; }
  .conteudo.contato #message {
    padding-top: 15px; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #3c3c3c; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #3c3c3c; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body {
    min-width: 1100px; }

  .grupo, .footer {
    width: 1099px; } }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* Remove unwanted elements */
  #header, #nav, .noprint {
    display: none; }

  /* Ensure the content spans the full width */
  #container, #container2, #content {
    width: 100%;
    margin: 0;
    float: none; }

  /* Change text colour to black (useful for light text on a dark background) */
  .lighttext {
    color: black; }

  /* Improve colour contrast of links */
  a:link, a:visited {
    color: #781351; } }
